* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62, 5%;
}

body {
	font-family: sans-serif;
	min-width: 320px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}

nav {
	width: 100%;
	height: 100px;
	background-color: #4F4792;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

nav ul {
	list-style-type: none;
	display: flex;
	margin: 0;
}

nav a {
	text-decoration: none;
	color: white;
	margin: 0px 70px;
	font-size: 1.5em;

}

nav a:hover {
	border-bottom: 1px solid white;
	border-radius: 5px;
	color: white;
}

h1 {
	text-align: center;
	margin-bottom: 35px;
	color: white;
}

h3 a {
	color: white;
	text-shadow: #000;
}

p {
	font-size: 1, 6rem;
}

footer {
	height: 50px;
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.foot {
	width: 300px;
	color: white;
	margin: auto;
	padding-top: 16px;
}

.link {
	color: red;
	text-decoration: none;
}

table {
	width: 100%;
	text-align: center;
	overflow: hidden;
	border-collapse: separate;
	border: solid #ccc 1px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

th,
td {
	padding: 8px;
	text-align: center;
	size: 1, 5em;
	color: white;
	width: 100px;
	height: auto;
}

@media(max-width:890px) {
	th,
	td {
		padding: 4px;
	}
}

th {
	background-color: #000;
}

tr {
	background-color: #000;
}

.confirm_order {
	width: 300px;
	height: 100px;
	padding: 20px;
	background-color: #348263;
	color: white;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 3;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #000;
	left: calc(45% - 50px);
}

@media(max-width:800px) {
	.confirm_order {
		left: calc(25%)
	}
}

@media(max-width:500px) {
	.confirm_order {
		width: 200px;
		left: calc(15%)
	}
}

.confirm_order_buttons {
	display: flex;
}

.confirm_order_buttons div {
	margin: 20px;
	background-color: black;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.confirm_order_buttons div a {
	color: white;
	text-decoration: none;
}

.confirm_order_none {
	display: none;
}